.travel {
    background-color: #e3f6ff;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    font-weight:400;
    /* display: grid; */
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  
  .travel_img {
    position: relative;
    top: -50px;
    max-width: 450px;
    min-height: 230px;
    width: 85%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  
  .travel_img:hover{
    cursor: pointer;
    filter: brightness(0.5);
    transition: filter 0.4s;
  }
  
  .travel_title{
    margin: 0;
    font-weight: 500;
    text-decoration: none;
  }

  .travel_title a {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
    text-decoration: none;
  }
  
