.title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    
}

.style{
    flex: 1;
    margin-left:200px;
    margin-bottom: 80px;
}

.header {
    font-size: 30px;
    text-align: center;
    margin-left:7%;
    width: 93%;
    height: 300px;

  }


.h1{
    color: black;
    margin:0px;
}